@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@plugin "daisyui" {
  themes: all;
}

@theme {
  /* Her tilføjes theme variable // tokens */
}

/* FONTS */
@font-face {
  font-family: "WendyOne";
  src: url("/font/WendyOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  src: url("/font/Nunito-VariableFont_wght.ttf") format("truetype");
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
}

@layer utilities {
  .font-wendyone {
    font-family: "WendyOne", sans-serif;
  }
  .font-nunito {
    font-family: "Nunito", sans-serif;
  }
}
