@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@plugin "daisyui" {
  themes: all;
}

@theme {
  /* all colors (lowercase variable names) */
  --base-white: #ffffff;
  --base-black: #000000;
  --base-transparent-25: rgba(0, 0, 0, 0.25);

  --color-purple-950: #351347;
  --color-purple-900: #5e2779;
  --color-purple-800: #763398;
  --color-purple-700: #913fb9;
  --color-purple-600: #ab54d9;
  --color-purple-500: #ba74e1;
  --color-purple-400: #c591e6;
  --color-purple-300: #d3adec;
  --color-purple-200: #e1c9f3;
  --color-purple-100: #efe4fa;
  --color-purple-50: #f7f2fc;

  --color-red-950: #280405;
  --color-red-900: #3a090b;
  --color-red-800: #621619;
  --color-red-700: #8a2226;
  --color-red-600: #b72f36;
  --color-red-500: #e33e45;
  --color-red-400: #ec7073;
  --color-red-300: #ed9698;
  --color-red-200: #f2bcbd;
  --color-red-100: #f8dcdd;
  --color-red-50: #fbeeee;

  --color-pink-950: #2a0018;
  --color-pink-900: #410028;
  --color-pink-800: #6a0044;
  --color-pink-700: #930060;
  --color-pink-600: #c30181;
  --color-pink-500: #f501a2;
  --color-pink-400: #ff65b8;
  --color-pink-300: #ff9bcb;
  --color-pink-200: #ffbfdc;
  --color-pink-100: #ffe0ed;
  --color-pink-50: #fef1f6;

  --color-orange-950: #230e00;
  --color-orange-900: #351701;
  --color-orange-800: #572b02;
  --color-orange-700: #804203;
  --color-orange-600: #a75805;
  --color-orange-500: #d4720a;
  --color-orange-400: #fe8c25;
  --color-orange-300: #feaa7e;
  --color-orange-200: #fec9b3;
  --color-orange-100: #ffe2d9;
  --color-orange-50: #fff2ec;

  --color-blue-950: #001626;
  --color-blue-900: #001f36;
  --color-blue-800: #003a5e;
  --color-blue-600: #0072b2;
  --color-blue-700: #005485;
  --color-blue-500: #038fde;
  --color-blue-400: #4aadff;
  --color-blue-300: #87c0ff;
  --color-blue-200: #b4d4ff;
  --color-blue-100: #dce8ff;
  --color-blue-50: #edf4ff;

  --color-green-950: #0c1503;
  --color-green-900: #152007;
  --color-green-800: #273e12;
  --color-green-700: #3b581c;
  --color-green-600: #4f7529;
  --color-green-500: #659335;
  --color-green-400: #7db643;
  --color-green-300: #94d652;
  --color-green-200: #a4eb5b;
  --color-green-100: #c1fd91;
  --color-green-50: #e5ffd9;

  --color-grey-950: #0b0b0b;
  --color-grey-900: #131313;
  --color-grey-800: #1f1f1f;
  --color-grey-700: #2e2e2e;
  --color-grey-600: #3b3b3b;
  --color-grey-500: #494949;
  --color-grey-400: #575757;
  --color-grey-300: #666666;
  --color-grey-200: #969696;
  --color-grey-100: #c9c9c9;
  --color-grey-50: #e5e5e5;

  /* primary colors (referencing normalized vars) */
  --primary-red: var(--color-red-500);
  --primary-green: var(--color-green-300);
  --primary-blue: var(--color-blue-400);
  --primary-purple: var(--color-purple-900);
  --primary-pink: var(--color-pink-300);
  --primary-orange: var(--color-orange-400);
  --primary-grey: var(--color-grey-50);

  /* semantic colors */
  --header: var(--color-red-700);
  --footersection: var(--color-grey-50);
  --se-flere-btn: var(--color-red-500);
  --se-flere-btn-hover: var(--color-red-700);
  --pinksection: var(--color-pink-300);
  --redsection: var(--color-red-500);
  --orangesection: var(--color-orange-400);
  --greensection: var(--color-green-300);
  --bluesection: var(--color-blue-400);
  --blacktext: var(--base-black);
  --whitetext: var(--base-white);
  --redtext: var(--color-red-500);
  --orangetext: var(--color-orange-400);
  --transparent-play-btn: var(--base-transparent-25);
}

/* FONTS */
@font-face {
  font-family: "WendyOne";
  src: url("/font/WendyOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  src: url("/font/Nunito-VariableFont_wght.ttf") format("truetype");
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-grey-200, currentColor);
  }
}

@layer components {
}

@layer utilities {
  .font-wendyone {
    font-family: "WendyOne", sans-serif;
  }
  .font-nunito {
    font-family: "Nunito", sans-serif;
  }
}
