---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Text from "../components/Text.astro";
import Heading from "../components/Heading.astro";
---

<MainLayout title="Børnebiffen">
  <article>
    <h1>Index overskrift</h1>
    <Button>Klik!</Button>
    <p>
      Link til <Link href="https://www.kea.dk" target="_blank"
        >En anden side</Link
      >
    </p>
    <Image src={thumbsup} alt="" />
  </article>

  <Heading htmlheading="h1" size="large">Dette er et eksempel på H1</Heading>
  <Heading htmlheading="h2" size="medium">Dette er et eksempel på H2</Heading>
  <Heading htmlheading="h3" size="small">Dette er et eksempel på H3</Heading>
  <Heading htmlheading="h4" size="xsmall">Dette er et eksempel på H4</Heading>
  <Text teksttype="brødtekst ">
    Dette er et eksempel på brødtekst. Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua.
  </Text>
  <Text teksttype="fedbrødtekst" stylingclasses=" text-green-400">
    Dette er et eksempel på fedbrødtekst. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua.
  </Text>

  <!-- ***************************** Start Header ***************************** -->
  <section>
    <p>Hero</p>
  </section>
  <!-- ***************************** Slut Header ***************************** -->

  <!-- ***************************** Start Forsæt med at se ***************************** -->
  <section>
    <Heading htmlheading="h2" size="medium">Forsæt med at se </Heading>
  </section>
  <!-- ***************************** Slut Forsæt med at se ***************************** -->

  <!-- ***************************** Start Ugens favoritter ***************************** -->
  <section>
    <Heading htmlheading="h2" size="medium">Ugens favoritter</Heading>
  </section>
  <!-- ***************************** Slut Ugens favoritter ***************************** -->

  <!-- ***************************** Start Udforsk vores juleunivers ***************************** -->
  <section>
    <Heading htmlheading="h2" size="medium">Udforsk vores juleunivers</Heading>
  </section>
  <!-- ***************************** Slut Udforsk vores juleunivers ***************************** -->

  <!-- ***************************** Start Video ***************************** -->
  <section>
    <p>Video</p>
  </section>
  <!-- ***************************** Slut Video ***************************** -->

  <!-- ***************************** Start Venskaber ***************************** -->
  <section>
    <Heading htmlheading="h2" size="medium">Venskaber</Heading>
  </section>
  <!-- ***************************** Slut Venskaber ***************************** -->

  <!-- ***************************** Start Sjov og ballade ***************************** -->
  <section>
    <Heading htmlheading="h2" size="medium">Sjov og ballade</Heading>
  </section>
  <!-- ***************************** Slut Sjov og ballade ***************************** -->

  <!-- ***************************** Start Mig og min familie ***************************** -->
  <section>
    <Heading htmlheading="h2" size="medium">Mig og min familie</Heading>
  </section>
  <!-- ***************************** Slut Mig og min familie ***************************** -->

  <!-- ***************************** Start Billede ***************************** -->
  <section>
    <p>Billede</p>
  </section>
  <!-- ***************************** Slut Billede Sektion ***************************** -->

  <!-- ***************************** Start App Sektion ***************************** -->
  <section>
    <p>App</p>
  </section>
  <!-- ***************************** Slut App Sektion ***************************** -->
</MainLayout>
