---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Text from "../components/Text.astro";
import Heading from "../components/Heading.astro";
import Card from "../components/Card.astro";
---

<MainLayout title="Børnebiffen-Listevisning">
  <!-- BOBLER -->
  <div class="w-full overflow-hidden">
    <img
      src="/img/bobler.svg"
      alt=""
      class="hidden md:block w-full h-auto object-cover"
    />
    <img
      src="/img/boblermobil.svg"
      alt=""
      class="block md:hidden w-full h-auto object-cover"
    />
  </div>

  <!-- TILBAGE KNAP -->
  <div class="pt-[20px] md:pt-[40px] px-[20px] md:px-[50px] lg:px-[100px]">
    <a href="/">
      <img
        src="/img/tilbage.svg"
        alt="Tilbage"
        class="w-8 h-8 md:w-10 md:h-10 transition-transform duration-200 ease-in-out hover:scale-110 cursor-pointer"
      />
    </a>
  </div>

  <!-- /*************************************************/ Sart Søge felt /*************************************************/ -->
  <section class="mt-[20px] md:mt-[40px]">
    <div class="max-w-[900px] mx-auto px-[20px]">
      <div class="relative">
        <img
          src="/img/lillasøge.svg"
          alt="Lilla søgeikon"
          class="absolute left-4 top-1/2 -translate-y-1/2"
        />

        <input
          id="search"
          name="search"
          type="search"
          placeholder=" "
          class="peer w-full rounded-[20px] border-2 border-purple-900 px-12 py-4 placeholder-transparent focus:ring-3 focus:ring-purple-300"
        />

        <Text
          teksttype="brødtekst"
          stylingclasses="absolute left-12 top-1/2 -translate-y-1/2 pointer-events-none text-gray-400 transition-opacity duration-150 opacity-0 peer-placeholder-shown:opacity-100"
        >
          Søg efter film her
        </Text>
      </div>
    </div>
  </section>

  <!-- /*************************************************/ Slut Søge felt /*************************************************/ -->

  <!-- /*************************************************/ Start Alder /*************************************************/ -->
  <section class="text-center pt-[40px] md:pt-[80px]">
    <Heading htmlheading="h2" size="medium">Filtré med alder</Heading>

    <div class="mt-[20px] md:mt-[20px] flex justify-center gap-6">
      <div class="relative group w-[80px] md:w-[160px]">
        <img src="/img/lillebjørn.svg" alt="Lillebjørn" class="w-full block" />
        <img
          src="/img/hoverlillebjørn.svg"
          alt=""
          class="absolute inset-0 w-full opacity-0 duration-300 group-hover:opacity-100"
        />
      </div>

      <div class="relative group w-[80px] md:w-[160px]">
        <img
          src="/img/mellembjørn.svg"
          alt="Mellembjørn"
          class="w-full block"
        />
        <img
          src="/img/hovermellembjørn.svg"
          alt=""
          class="absolute inset-0 w-full opacity-0 duration-300 group-hover:opacity-100"
        />
      </div>

      <div class="relative group w-[80px] md:w-[160px]">
        <img src="/img/storebjørn.svg" alt="Storebjørn" class="w-full block" />
        <img
          src="/img/hoverstorebjørn.svg"
          alt=""
          class="absolute inset-0 w-full opacity-0 duration-300 group-hover:opacity-100"
        />
      </div>
    </div>
  </section>
  <!-- /*************************************************/ Slut Alder /*************************************************/ -->

  <!-- /*************************************************/ Start Alle film /*************************************************/ -->
  <section class="px-[20px] md:px-[50px] lg:px-[100px] pt-[40px] md:pt-[80px]">
    <Heading htmlheading="h2" size="medium">Alle film - 398</Heading>

    <div class="grid gap-6 grid-cols-2 lg:grid-cols-3 auto-rows-auto">
      <Card
        url="/singleview"
        cardimage="/img/alle1.webp"
        cardimagealt="Prik og Plet leger med dej"
        cardtitel="Prik og Plet leger med dej"
        cardtime="7 min"
      />
      <Card
        url="/singleview"
        cardimage="/img/alle2.webp"
        cardimagealt="Pipungerne - Hittebarnet"
        cardtitel="Pipungerne - Hittebarnet"
        cardtime="5 min"
      />
      <Card
        url="/singleview"
        cardimage="/img/alle3.webp"
        cardimagealt="Rita og Krokodille: Zoo"
        cardtitel="Rita og Krokodille: Zoo"
        cardtime="5 min"
      />
      <Card
        url="/singleview"
        cardimage="/img/alle4.webp"
        cardimagealt="Antons lille gryde"
        cardtitel="Antons lille gryde"
        cardtime="6 min"
      />
      <Card
        url="/singleview"
        cardimage="/img/alle5.webp"
        cardimagealt="Sallies historier - Kong Gulleroth"
        cardtitel="Sallies historier - Kong Gulleroth"
        cardtime="7 min"
      />
      <Card
        url="/singleview"
        cardimage="/img/alle6.webp"
        cardimagealt="Sømanden"
        cardtitel="Sømanden"
        cardtime="6 min"
      />
      <Card
        url="/singleview"
        cardimage="/img/alle7.webp"
        cardimagealt="Cirkeline: På ferie"
        cardtitel="Cirkeline: Zigeunerne"
        cardtime="11 min"
      />
      <Card
        url="/singleview"
        cardimage="/img/alle8.webp"
        cardimagealt="Den lille fugl og egernet"
        cardtitel="Den lille fugl og egernet"
        cardtime="4 min"
      />
      <Card
        url="/singleview"
        cardimage="/img/alle9.webp"
        cardimagealt="Lillefinger - Det gamle år"
        cardtitel="Lillefinger - Det gamle år"
        cardtime="5 min"
      />
      <Card
        url="/singleview"
        cardimage="/img/alle10.webp"
        cardimagealt="Lili holder fest"
        cardtitel="Lili holder fest"
        cardtime="3 min"
      />
      <Card
        url="/singleview"
        cardimage="/img/alle11.webp"
        cardimagealt="Flagermusen"
        cardtitel="Flagermusen"
        cardtime="4 min"
      />
      <Card
        url="/singleview"
        cardimage="/img/alle12.webp"
        cardimagealt="Løven og Musen"
        cardtitel="Løven og Musen"
        cardtime="2 min"
      />
    </div>

    <!-- Gentagelse af de samme 12 kort i en skjult wrapper -->
    <div
      id="moreCards"
      class="mt-6 grid gap-6 grid-cols-2 lg:grid-cols-3 auto-rows-auto"
    >
      <Card
        url="/singleview"
        cardimage="/img/alle1.webp"
        cardimagealt="Prik og Plet leger med dej"
        cardtitel="Prik og Plet leger med dej"
        cardtime="7 min"
      />
      <Card
        url="/singleview"
        cardimage="/img/alle2.webp"
        cardimagealt="Pipungerne - Hittebarnet"
        cardtitel="Pipungerne - Hittebarnet"
        cardtime="5 min"
      />
      <Card
        url="/singleview"
        cardimage="/img/alle3.webp"
        cardimagealt="Rita og Krokodille: Zoo"
        cardtitel="Rita og Krokodille: Zoo"
        cardtime="5 min"
      />
      <Card
        url="/singleview"
        cardimage="/img/alle4.webp"
        cardimagealt="Antons lille gryde"
        cardtitel="Antons lille gryde"
        cardtime="6 min"
      />
      <Card
        url="/singleview"
        cardimage="/img/alle5.webp"
        cardimagealt="Sallies historier - Kong Gulleroth"
        cardtitel="Sallies historier - Kong Gulleroth"
        cardtime="7 min"
      />
      <Card
        url="/singleview"
        cardimage="/img/alle6.webp"
        cardimagealt="Sømanden"
        cardtitel="Sømanden"
        cardtime="6 min"
      />
      <Card
        url="/singleview"
        cardimage="/img/alle7.webp"
        cardimagealt="Cirkeline: På ferie"
        cardtitel="Cirkeline: Zigeunerne"
        cardtime="11 min"
      />
      <Card
        url="/singleview"
        cardimage="/img/alle8.webp"
        cardimagealt="Den lille fugl og egernet"
        cardtitel="Den lille fugl og egernet"
        cardtime="4 min"
      />
      <Card
        url="/singleview"
        cardimage="/img/alle9.webp"
        cardimagealt="Lillefinger - Det gamle år"
        cardtitel="Lillefinger - Det gamle år"
        cardtime="5 min"
      />
      <Card
        url="/singleview"
        cardimage="/img/alle10.webp"
        cardimagealt="Lili holder fest"
        cardtitel="Lili holder fest"
        cardtime="3 min"
      />
      <Card
        url="/singleview"
        cardimage="/img/alle11.webp"
        cardimagealt="Flagermusen"
        cardtitel="Flagermusen"
        cardtime="4 min"
      />
      <Card
        url="/singleview"
        cardimage="/img/alle12.webp"
        cardimagealt="Løven og Musen"
        cardtitel="Løven og Musen"
        cardtime="2 min"
      />
    </div>
  </section>
  <!-- /*************************************************/ Slut Alle film /*************************************************/ -->

  <!-- /*************************************************/ Start Knap /*************************************************/ -->
  <section class="py-[40px] md:py-[80px]">
    <div id="seMereBtnWrapper">
      <Button type="button">
        <Text teksttype="fedbrødtekst">
          <span id="seMereText" class="text-3xl font-bold">Se flere</span>
        </Text>
      </Button>
    </div>
  </section>

  <!-- lille, enkel klient-side script til at toggle -->
  <script>
    const more = document.getElementById("moreCards");
    const btnText = document.getElementById("seMereText");
    document
      .getElementById("seMereBtnWrapper")
      ?.addEventListener("click", () => {
        if (!more || !btnText) return;
        const isHidden = more.classList.toggle("hidden");
        btnText.textContent = isHidden ? "Se flere" : "Se færre";
      });
  </script>
  <!-- /*************************************************/ Slut Knap /*************************************************/ -->
</MainLayout>
