---
import MainLayout from "../layouts/MainLayout.astro";
import SingleCard from "../components/SingleCard.astro";
import Serien from "../components/Serien.astro";
import Minder from "../components/Minder.astro";
---

<MainLayout title="Børnebiffen">
  <!-- /*************************************************/ singlecard /*************************************************/ -->
  <section class="pt-[40px] md:pt-[85px]">
    <SingleCard />
  </section>

  <!-- /*************************************************/ serien /*************************************************/ -->
  <section class="pt-[40px] md:pt-[80px]">
    <Serien />
  </section>

  <!-- /*************************************************/ Start Minder om /*************************************************/ -->
  <section class="py-[40px] md:py-[80px]">
    <Minder />
  </section>
</MainLayout>
