---
import Heading from "./Heading.astro";
import Card from "./Card.astro";

const { titel = "", bg = "", cards = [] } = Astro.props;
---

<div>
  <Heading htmlheading="h2" size="medium">{titel}</Heading>

  <section class={`md:rounded-4xl mt-[10px] ${bg} -mx-[20px] md:mx-0`}>
    <div
      class="px-[20px] md:px-[50px] lg:px-[100px] py-[20px] md:py-[30px] lg:py-[40px]"
    >
      <div class="overflow-x-auto snap-x snap-mandatory">
        <div class="flex gap-[10px] md:gap-[20px] py-4">
          {
            cards.map((item) => (
              <div class="shrink-0 snap-start w-[44%] md:w-[32.20%]">
                <Card {...item} />
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
</div>
