---

---

<div>
  <!-- Decorative images: mobile/tablet use mobile image, desktop shows large image -->
  <img
    src="/img/footermobil.svg"
    alt="Footer decorative mobile"
    class="block lg:hidden w-full -mb-6"
    aria-hidden="true"
  />
  <img
    src="/img/footer.svg"
    alt="Footer decorative"
    class="hidden lg:block w-full -mb-40"
    aria-hidden="true"
  />

  <footer
    class="footer lg:footer-horizontal bg-[var(--color-grey-50)] text-base-content py-10 px-4 md:px-8 lg:px-[100px] relative z-10 text-[16px] md:text-[20px] font-nunito"
  >
    <!-- Responsive grid: mobile/tablet = 2 cols (left/right), desktop = 4 cols -->
    <div class="w-full grid grid-cols-2 lg:grid-cols-4 gap-6 lg:gap-[138px]">
      <!-- Logo / Branding -->
      <div
        class="flex items-start col-start-1 row-start-1 lg:col-start-1 lg:row-start-auto"
      >
        <img
          src="/img/bornebiffenlogo.svg"
          alt="BørneBiffen logo"
          class="w-24 h-auto object-contain"
        />
      </div>

      <!-- About links -->
      <nav
        aria-label="Om Børnebiffen"
        class="col-start-1 row-start-2 lg:col-start-2 lg:row-start-auto"
      >
        <ul class="flex flex-col space-y-2">
          <li><a class="link link-hover">Om Børnebiffen</a></li>
          <li><a class="link link-hover">Tilgængelighedserklæring</a></li>
        </ul>
      </nav>

      <!-- Contact & Policies -->
      <nav
        aria-label="Kontakt og politikker"
        class="col-start-2 row-start-1 lg:col-start-3 lg:row-start-auto"
      >
        <ul class="flex flex-col space-y-2">
          <li><a class="link link-hover">Kontakt os</a></li>
          <li><a class="link link-hover">Cookies</a></li>
          <li><a class="link link-hover">Privatlivspolitik</a></li>
        </ul>
      </nav>

      <!-- Address -->
      <address
        class="not-italic col-start-2 row-start-2 lg:col-start-4 lg:row-start-auto"
      >
        <div>DBC DIGITAL A/S</div>
        <div>Tempovej 7-11</div>
        <div>2750 Ballerup</div>
      </address>
    </div>
  </footer>
</div>
