---

---

<div class="navbar bg-base-100 shadow-sm bg-red-800">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">daisyUI</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 text-white">
      <li><a>Alle film</a></li>
      <li>
        <details>
          <summary>Log ind</summary>
          <ul class="bg-base-100 rounded-t-none p-2 text-white">
            <li><a>Link 1</a></li>
            <li><a>Link 2</a></li>
          </ul>
        </details>
      </li>
      <li class="text-white"><a>Søg</a></li>
    </ul>
  </div>
</div>
