<section class="w-full relative overflow-visible">
  <!-- Hero billede -->
  <img
    src="/img/herobillede.svg"
    alt="Hero background"
    class="block w-full h-auto"
  />

  <!-- Slider med billeder (tilføjet lille hover-zoom kun på disse billeder) -->
  <div class="absolute left-0 right-0 -bottom-10 md:-bottom-5 lg:bottom-0 z-10">
    <div class="overflow-x-auto px-4 md:px-20">
      <div
        class="inline-flex items-center space-x-5 md:space-x-10 snap-x snap-mandatory"
      >
        <img
          src="/img/rita.svg"
          class="flex-shrink-0 w-24 h-24 md:w-32 md:h-32 lg:w-48 lg:h-48 rounded-full object-cover snap-start transition-transform duration-200 ease-out hover:scale-105"
          alt="Rita"
        />
        <img
          src="/img/vitello.svg"
          class="flex-shrink-0 w-24 h-24 md:w-32 md:h-32 lg:w-48 lg:h-48 rounded-full object-cover snap-start transition-transform duration-200 ease-out hover:scale-105"
          alt="Vitello"
        />
        <img
          src="/img/cirkeline.svg"
          class="flex-shrink-0 w-24 h-24 md:w-32 md:h-32 lg:w-48 lg:h-48 rounded-full object-cover snap-start transition-transform duration-200 ease-out hover:scale-105"
          alt="Cirkeline"
        />
        <img
          src="/img/grå-ulv.svg"
          class="flex-shrink-0 w-24 h-24 md:w-32 md:h-32 lg:w-48 lg:h-48 rounded-full object-cover snap-start transition-transform duration-200 ease-out hover:scale-105"
          alt="Grå Ulv"
        />
        <img
          src="/img/ib.svg"
          class="flex-shrink-0 w-24 h-24 md:w-32 md:h-32 lg:w-48 lg:h-48 rounded-full object-cover snap-start transition-transform duration-200 ease-out hover:scale-105"
          alt="Ib"
        />
        <img
          src="/img/lillefinger.svg"
          class="flex-shrink-0 w-24 h-24 md:w-32 md:h-32 lg:w-48 lg:h-48 rounded-full object-cover snap-start transition-transform duration-200 ease-out hover:scale-105"
          alt="Lillefinger"
        />
        <!-- gentag eller fjern efter behov -->
      </div>
    </div>
  </div>

  <!-- Gardin -->
  <div
    class="hidden md:block absolute top-0 left-0 z-20 w-screen -ml-[calc(50%_-_50vw)] pointer-events-none"
  >
    <img
      src="/img/gardin.png"
      alt="Gardin fuld bredde"
      class="block w-full h-auto object-contain max-h-[85vh]"
    />
  </div>
</section>
