---
import Heading from "./Heading.astro";
import Text from "./Text.astro";
---

<div class="relative w-full h-[420px] md:h-[650px] overflow-visible">
  <img
    src="/img/herobillede.svg"
    alt="Hero background"
    aria-hidden="true"
    class="absolute left-1/2 top-0 transform -translate-x-1/2 w-screen h-auto object-contain pointer-events-none"
  />

  <!-- de runde billeder i slide -->
  <div
    class="absolute left-0 w-full z-30 lg:bottom-0 sm:bottom-[40px] bottom-[20px]"
  >
    <div
      class="max-w-[1100px] md:mx-auto lg:max-w-none flex justify-start overflow-x-auto overflow-y-hidden md:h-[200px] items-center snap-x snap-mandatory lg:px-0 hero-slider-viewport"
    >
      <div class="flex items-center gap-[10px] sm:gap-[50px] hero-slider-track">
        <img
          src="/img/cirkeline.png"
          alt="Cirkeline"
          class="hero-slide-item w-28 h-28 sm:w-[120px] sm:h-[120px] md:w-[140px] md:h-[140px] lg:w-[180px] lg:h-[180px]"
        />
        <img
          src="/img/graulv.png"
          alt="Graulv"
          class="hero-slide-item w-28 h-28 sm:w-[120px] sm:h-[120px] md:w-[140px] md:h-[140px] lg:w-[180px] lg:h-[180px]"
        />
        <img
          src="/img/ib.png"
          alt="Ib"
          class="hero-slide-item w-28 h-28 sm:w-[120px] sm:h-[120px] md:w-[140px] md:h-[140px] lg:w-[180px] lg:h-[180px]"
        />
        <img
          src="/img/lillefinger.png"
          alt="Lillefinger"
          class="hero-slide-item w-28 h-28 sm:w-[120px] sm:h-[120px] md:w-[140px] md:h-[140px] lg:w-[180px] lg:h-[180px]"
        />
        <img
          src="/img/rita.png"
          alt="Rita"
          class="hero-slide-item w-28 h-28 sm:w-[120px] sm:h-[120px] md:w-[140px] md:h-[140px] lg:w-[180px] lg:h-[180px]"
        />
        <img
          src="/img/vitello.png"
          alt="Vitello"
          class="hero-slide-item w-28 h-28 sm:w-[120px] sm:h-[120px] md:w-[140px] md:h-[140px] lg:w-[180px] lg:h-[180px]"
        />
        <img
          src="/img/cirkeline.png"
          alt="Cirkeline"
          class="hero-slide-item w-28 h-28 sm:w-[120px] sm:h-[120px] md:w-[140px] md:h-[140px] lg:w-[180px] lg:h-[180px]"
        />
        <img
          src="/img/graulv.png"
          alt="Graulv"
          class="hero-slide-item w-28 h-28 sm:w-[120px] sm:h-[120px] md:w-[140px] md:h-[140px] lg:w-[180px] lg:h-[180px]"
        />
        <img
          src="/img/ib.png"
          alt="Ib"
          class="hero-slide-item w-28 h-28 sm:w-[120px] sm:h-[120px] md:w-[140px] md:h-[140px] lg:w-[180px] lg:h-[180px]"
        />
        <img
          src="/img/lillefinger.png"
          alt="Lillefinger"
          class="hero-slide-item w-28 h-28 sm:w-[120px] sm:h-[120px] md:w-[140px] md:h-[140px] lg:w-[180px] lg:h-[180px]"
        />
        <img
          src="/img/rita.png"
          alt="Rita"
          class="hero-slide-item w-28 h-28 sm:w-[120px] sm:h-[120px] md:w-[140px] md:h-[140px] lg:w-[180px] lg:h-[180px]"
        />
        <img
          src="/img/vitello.png"
          alt="Vitello"
          class="hero-slide-item w-28 h-28 sm:w-[120px] sm:h-[120px] md:w-[140px] md:h-[140px] lg:w-[180px] lg:h-[180px]"
        />
      </div>
    </div>
  </div>

  <!-- gardinerne i siderne -->
  <div
    class="absolute left-1/2 top-0 transform -translate-x-1/2 w-screen z-40 pointer-events-none hidden sm:block"
  >
    <img
      src="/img/gardin.png"
      alt="Left curtain"
      aria-hidden="true"
      class="w-screen h-auto object-contain object-left"
    />
  </div>
</div>

<style>
  .hero-slider-viewport {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox: fjern scrollbar */
    overflow-y: hidden; /* sørg for ingen vertikal scroll */
  }

  .hero-slider-viewport::-webkit-scrollbar {
    display: none; /* Safari and Chrome: fjern scrollbar */
  }
</style>
