---
import CardCarousel from "../components/CardCarousel.astro";
---

<!-- ***************************** Start Serien: Rita og Krokodille ***************************** -->
<section class="px-[20px] md:px-[50px] lg:px-[100px]">
  <CardCarousel
    titel="Serien: Rita og Krokodille"
    bg="bg-green-300"
    cards={[
      {
        url: "/singleview",
        cardimage: "/img/rita1.webp",
        cardimagealt: "Rita og Krokodille: Skovturen",
        cardtitel: "Rita og Krokodille: Skovturen",
        cardtime: "5 min",
      },
      {
        url: "/singleview",
        cardimage: "/img/rita2.webp",
        cardimagealt: "Rita og Krokodille: Blåbær",
        cardtitel: "Rita og Krokodille: Blåbær",
        cardtime: "5 min",
      },
      {
        url: "/singleview",
        cardimage: "/img/rita3.webp",
        cardimagealt: "Rita og Krokodille: Forår",
        cardtitel: "Rita og Krokodille: Forår",
        cardtime: "5 min",
      },
      {
        url: "/singleview",
        cardimage: "/img/rita4.webp",
        cardimagealt: "Rita og Krokodille: Fisketuren",
        cardtitel: "Rita og Krokodille: Fisketuren",
        cardtime: "5 min",
      },
      {
        url: "/singleview",
        cardimage: "/img/rita5.webp",
        cardimagealt: "Rita og Krokodille: Halloween",
        cardtitel: "Rita og Krokodille: Halloween",
        cardtime: "5 min",
      },
      {
        url: "/singleview",
        cardimage: "/img/rita6.webp",
        cardimagealt: "Rita og Krokodille: Camping",
        cardtitel: "Rita og Krokodille: Camping",
        cardtime: "5 min",
      },
      {
        url: "/singleview",
        cardimage: "/img/rita7.webp",
        cardimagealt: "Rita og Krokodille: Snevejr",
        cardtitel: "Rita og Krokodille: Snevejr",
        cardtime: "5 min",
      },
      {
        url: "/singleview",
        cardimage: "/img/rita8.webp",
        cardimagealt: "Rita og Krokodille: I Biografen",
        cardtitel: "Rita og Krokodille: I Biografen",
        cardtime: "5 min",
      },
      {
        url: "/singleview",
        cardimage: "/img/rita9.webp",
        cardimagealt: "Rita og Krokodille: Nat",
        cardtitel: "Rita og Krokodille: Nat",
        cardtime: "5 min",
      },
      {
        url: "/singleview",
        cardimage: "/img/rita10.webp",
        cardimagealt: "Rita og Krokodille: Pindsvinet",
        cardtitel: "Rita og Krokodille: Pindsvinet",
        cardtime: "5 min",
      },
    ]}
  />
</section>
<!-- ***************************** Slut Serien: Rita og Krokodille ***************************** -->
