---
import Heading from "./Heading.astro";
---

<div class="w-full box-border mt-4 mb-4 px-0 md:px-[50px] lg:px-[100px]">
  <div
    class="relative w-full md:overflow-hidden md:rounded-[20px] lg:rounded-[20px]"
  >
    <video
      class="w-full h-auto block"
      src="/img/ritavideo.mov"
      autoplay
      loop
      playsinline
      muted></video>

    <div
      class="absolute z-10 pointer-events-none
                 top-4 left-4 md:top-6 md:left-6 lg:top-8 lg:left-8
                 grid grid-cols-1 items-start gap-3 md:gap-3 lg:gap-6"
    >
      <Heading
        htmlheading="h2"
        size="medium"
        stylingclasses="text-[var(--redtext)]"
      >
        Rita og krokodillen
      </Heading>

      <a
        href="/singleview"
        class="pointer-events-auto inline-block"
        aria-label="Åbn single view"
      >
        <img
          src="/img/playbutton.svg"
          alt="afspil"
          class="w-14 h-14 md:w-16 md:h-16 lg:w-20 lg:h-20 justify-self-start transition-transform duration-200 ease-out hover:scale-110 active:scale-95"
        />
      </a>
    </div>
  </div>
</div>
